@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Teste</h1>
    <p class="lead">Aqui está um Teste</p>
    <p><a href="#" class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>
</div>
